<main class="main">
  <div class="content">
    <div class="logo-container">
      <div class="angular-logo"></div>
    </div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      @for (route of routes; track route) {
        <a
          #routerLinkActive="routerLinkActive"
          [active]="routerLinkActive.isActive"
          [routerLink]="route.path"
          mat-tab-link
          routerLinkActive
        >
          {{ route.title }}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</main>
